.contact__justify {
  justify-content: inherit;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.contact__body--item {
  width: 27%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  min-height: 200px;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-right: 5%;


  transition: transform 0.3s linear;

  &:hover {
    transform: scale(1.05) rotate(4deg);
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 768px) {
    width: 51%;
    margin-right: 0;
  }

  @media (max-width: 528px) {
    width: 100%;
  }
}

.contact__email {
  text-decoration: none;
  word-break: break-word;


  &:hover {
    text-decoration: none;
  }
}