.home {
  margin-top: 35px;
  width: 100%;
  min-height: 500px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.home__about {

}

.home__about--padding {
  padding: 0px 30px;
  padding-top: 45px;
  padding-bottom: 55px;
}

.home__title {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.title__line {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  opacity: 0.4;
  left: 0;
  background-color: #ffb100
}

.home__body {
  width: 100%;
  margin-top: 30px;
}

.home__body-items {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.home__about--text {
  margin-top: 15px;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 24px;
}

.bg__grey {
  background: #fafafa;
}

.home__body--item {
  width: 27%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  min-height: 200px;
  border-radius: 8px;
  margin-bottom: 50px;


  transition: transform 0.3s linear;

  &:hover {
    transform: scale(1.05) rotate(4deg);
  }

  @media (max-width: 768px) {
    width: 48%;
  }

  @media (max-width: 528px) {
    width: 100%;
  }
}

.home__body--title {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 4px;
}

.home__body--text {
  color: #989898;
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
}

.home__body--circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #FFC500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px 0px rgba(255, 35, 35, 0.25);
}

.tech__info--items {
  list-style: none;
}

.tech__info--first {
  border-left: solid 2px #eee;
  padding: 0 0 23px 20px;
  margin-left: 27px;
}

.tech__info {
  border-left: solid 2px #eee;
  padding: 0 0 23px 20px;
  margin-left: 27px;
  font-size: 14px;
  color: #787878;
  position: relative;

  &:before {
    content: "";
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-left: -27px;
    margin-top: 2px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffb100;
  }

  &:last-child {
    border-left: none;
  }
}

.tech__info--title {
  font-size: 15px;
  color: black;
  font-weight: bold;

  margin-bottom: 15px;
}