.modal {
  width: 100%;
  position: fixed;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,rgba(10,18,28,.75),rgba(10,18,28,.75));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  visibility: hidden;
}

.mask__active {
  visibility: visible;
}

.modal__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__inner {
  width: 100%;
  max-width: 828px;
  background: white;
  border-radius: 8px;
  height: 80%;
  overflow: auto;
  max-height: none;

  z-index: 100;
}


.modal__inner::-webkit-scrollbar {
  width: 8px;
}

.modal__inner::-webkit-scrollbar-thumb {

  border-radius: 6px;
  background: #ffe891;
}

.modal__inner::-webkit-scrollbar-track {
  background: white;
  width: 8px;

  border-radius: 0 0 8px 8px;
}

.active__model {
  transform: translateY(0%);
}

.modal__header {
  width: 100%;
  padding: 30px 25px;
  border-bottom: 2px solid #FFC500;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  @media (max-width: 778px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 440px) {
    padding: 25px 20px;
  }
}

.modal__header--info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 778px) {
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
  }

}

.modal__name {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.modal__theme {
  font-size: 14px;
  color: #989898;
  font-weight: 500;

}


.modal__header--btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 778px) {
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 424px) {
    flex-direction: column;
  }
}

.modal__btn--repository {
  padding: 8px 30px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background: #f1c310;
  border-radius: 6px;

  margin-right: 15px;

  &:hover {
    text-decoration: none;
    color: white;
  }

  @media (max-width: 440px) {
    padding: 8px 25px;
  }

  @media (max-width: 424px) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.modal__btn--project {
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(51,51,51,.82);
  font-size: 16px;
  background: #e5e5e5;
  border-radius: 6px;

  border: 1px solid #e5e5e5;

  &:hover {
    text-decoration: none;
    color: #1c1919;
  }

  @media (max-width: 440px) {
    padding: 8px 10px;
  }
}

.close__modal {
  position: absolute;
  top: -22px;
  right: -22px;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  @media (max-width: 878px) {
    display: none;
  }
}

.symbol__close {
  width: 11px;
  height: 11px;
}

.modal__main {
  width: 100%;
  max-width: 828px;
  flex-direction: column;
  align-items: center;
  height: auto;
  display: flex;
  padding: 25px 25px;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}


.modal__main--left {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 640px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.modal__slider--photos {
  width: 100%;

  @media (max-width: 640px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  @media (max-width: 384px) {
    width: 100%;
  }
}

.modal__slider--photo {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.modal__main--right {
  width: 100%;

  @media (max-width: 640px) {
    width: 100%;
    max-width: 100%;
  }
}

.slick-dots {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.slick-dots li button {
  width: 13px;
  height: 13px;
  font-size: 0;
  background: white;
  border-radius: 50%;
  border: 1px solid #ffc500;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: #ffc500;
}

.modal__main--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 35px;

  @media (max-width: 640px) {
    margin-top: 25px;
  }
}

.modal__main--header {
  font-family: Montserrat,sans-serif;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: left;

  @media (max-width: 640px) {
    text-align: left;
    margin-bottom: 6px;
  }
}

.modal__main--text {
  white-space: pre-line;
  text-align: left;
  font-size: 16px;
  color: rgba(51,51,51,.82);

  @media (max-width: 640px) {
    text-align: center;
  }
}


.modal__types {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.type_item {
  background: rgb(167, 175, 244);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-right: 8px;
  margin-top: 6px;
  font-family: Inter,sans-serif;
}