.portfolio__filters {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio__filter {
  font-size: 14px;
  color: #787878;
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;
  margin-bottom: 5px;

  transition: color 0.3s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #ffc500;
    text-decoration: none;
  }
}

.filter__active {
  color: #ffc500;
}