.portfolio__cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 40px 0;
  flex-wrap: wrap;
}

.fade-item {
  width: 30%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  margin-bottom: 40px;

  box-shadow: 0px 0px 20px 0px rgba(4, 6, 4, 0.08);

  &:hover {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 678px) {
    width: 45%;
  }

  @media (max-width: 487px) {
    width: 100%;
  }
}

.portfolio__card {
  width: 30%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  outline: 0;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  margin-bottom: 40px;
  cursor: pointer;
  min-height: 200px;

  box-shadow: 0px 0px 20px 0px rgba(4, 6, 4, 0.08);

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 678px) {
    width: 45%;
  }

  @media (max-width: 487px) {
    width: 100%;
  }
}

.bg__scale {
  border-radius: 6px 6px 0 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__card--photo {
  width: 100%;
  height: 156px;
  border-radius: 6px 6px 0 0;
  object-fit: contain;
  max-width: 100%;

  transition: transform 0.3s linear;

  &:hover {
    transform: scale(1.05);
  }
}

.portfolio__card-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.project__name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.project__theme {
  font-size: 13px;
  color: #989898;
  line-height: 18px;
  display: block;
}


.load__more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load__btn {
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  font-size: 14px;
  background: #ffc500;
  color: black;
  padding: 1px 29px;
  line-height: 35px;
  cursor: pointer;

  transition: background 0.3s linear;

  outline: 0;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: darken(#ffc500, 0.7);
  }
}

.fade-enter-active {
  transition: all .3s linear;
}

.fade-leave-active {
  transition: all .5s linear;
}

.fade-enter-from
{
  opacity: 0;
  transform: scale(0);
}

.fade-enter-to {
  opacity: 1;
  transform: scale(1);
}

.fade-leave-from {
  opacity: 1;
  transform: scale(1);
}

.fade-leave-to {
  opacity: 0;
  transform: scale(0);
}

