.preloader {
  width: 100%;
  position: fixed;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.load {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #eeeeee;
  border-top-color: #ffc500;
  animation: spin 0.5s linear infinite;
}

.loader__avatar {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  z-index: 10000;

  @media (max-width: 868px) {
    margin-left: 0;
  }
}

.loader__photo {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
