.Skeleton {
  width: 100%;
  height: 32px;

  color: transparent;
  display: block;
  background: #F7F9FB;
  border-radius: 2px;

  &Card {
    width: 100%;
    height: 145px;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
  }

  &Text {
    width: 80%;
    height: 12px;
    border-radius: 10px;
  }

  &Title {
    width: 80px;
    height: 20px;
    border-radius: 10px;
  }

  &Type {
    padding: 5px 15px;
    width: 70px;
    height: 30px;
  }

  &Btn {
    width: 150px;
    height: 36px;

    &Repo {
      margin-right: 15px;
    }
  }

  &Image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }

  * {
    visibility: hidden;
  }

  &Wave {
    position: relative;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    &::after {
      animation: wave 1.5s linear 0s infinite;
      background: linear-gradient(
                      90deg,
                      transparent,
                      rgba(255, 255, 255, 0.7),
                      transparent
      );
      content: '';
      position: absolute;
      transform: translate3d(-100%, 0, 0);
      will-change: transform;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

@keyframes wave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  60% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}